version: "3.9"
services:
  backend:
    build: .
    container_name: nestjs-app
    ports:
      - "4000:4000"
    env_file:
      - ./.env
    networks:
      - app-network

  frontend:
    build: ./client
    container_name: react-app
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
