@use '../../theme/colors';

.header {
  text-align: left;
  padding: 20px 0;
  margin-bottom: 60px;
  img {
    width: 60px;
  }
}

.signUpForm {
  h1 ~ p {
    color: colors.$color-text-secondary;
  }
}

.form-container {
  margin-top: 40px;
  max-width: 50%;
  margin: 0 auto;
}

.confirm-password {
  position: relative;
}
.validation-icon {
  position: absolute;
  width: 20px;
  top: 41px;
  right: 10px;
}
