$color-gray: #f6f6f6;
$color-navy-blue: #091750;
$color-white: #ffffff;
$color-gray-medium: #848484;
$color-orange: #f3af46;
$color-red: #c80e0e;

$color-primary: $color-navy-blue;
$color-secondary: $color-orange;
$color-error: $color-red;

$color-text-primary: $color-navy-blue;
$color-text-secondary: $color-gray-medium;
$color-text-higlight: $color-orange;
$color-bg-secondary: $color-gray;
