@use 'colors';

.error-message {
  color: colors.$color-error;
  font-size: 11px;
  min-height: 12px;
  text-align: left;
}

.background {
  background-color: colors.$color-bg-secondary;
  min-height: 100vh;

  h1 {
    color: colors.$color-text-primary;
  }
}
